{template 'public/header'}
{template 'public/comhead'}

{if !empty($storeid)}
{php echo $this -> set_tabbar($action, $storeid);}
{else}
<ul class="nav nav-tabs">
    <li{if $operation=='display'} class="active"{/if}><a
        href="{php echo $this->createWebUrl('allfans', array('op' => 'display'))}">会员管理</a></li>
    <li{if $operation=='record'} class="active"{/if}><a
        href="{php echo $this->createWebUrl('allfans', array('op' => 'record'))}">会员交易统计</a></li>
    <li><a href="{php echo $this->createWebUrl('commission', array('op' => 'display'))}">推广佣金管理</a></li>
    {if $_W['role'] == 'manager' || $_W['isfounder']}
    <li><a href="{php echo $this->createWebUrl('cashlog', array('op' => 'display', 'logtype' => 1))}">佣金提现管理</a></li>
    {/if}
</ul>
{/if}
{if $operation == 'display'}
<div class="main">
    <div class="panel panel-default" style="margin-top: 15px;">
        <div class="panel-heading">筛选</div>
        <div class="table-responsive panel-body">
            <form action="./index.php" method="get" class="navbar-form navbar-left" role="form">
                <input type="hidden" name="c" value="site" />
                <input type="hidden" name="a" value="entry" />
                <input type="hidden" name="m" value="weisrc_dish" />
                <input type="hidden" name="do" value="allfans" />
                <input type="hidden" name="op" value="display" />
                <div class="form-group">
                    <select class="form-control" id="status"  style="width: 120px;" name="status" autocomplete="off">
                        <option value="">全部</option>
                        <option value="1" {if $_GPC['status']==1}selected{/if}>正常下单</option>
                        <option value="0"  {if $_GPC['status']==="0"}selected{/if}>禁止下单</option>
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control" id="usertype"style="width: 140px;" name="usertype" autocomplete="off">
                        <option value="0">全部级别</option>
                        <option value="1" {if $usertype==1}selected{/if}>股东[顶级]</option>
                        <option value="2" {if $usertype==2}selected{/if}>代理商[一级]</option>
                        <option value="3" {if $usertype==3}selected{/if}>消费者[二级]</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" id="datapage" style="width: 120px;" name="datapage" autocomplete="off">
                        <option value="0">导出条数</option>
                        <option value="1" >1～100</option>
                        <option value="2" >101～200</option>
                        <option value="3" >201～300</option>
                        <option value="4" >301～400</option>
                        <option value="5" >401～500</option>
                        <option value="6" >501～600</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" id="types" style="width: 120px;" name="types" autocomplete="off">
                        <option value="nickname" {if $_GPC['types']=="nickname"}selected{/if}>昵称</option>
                        <option value="username"  {if  $_GPC['types']=="username"}selected{/if}>用户名称</option>
                        <option value="mobile"  {if  $_GPC['types']=="mobile"}selected{/if}>手机号码</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入" name="keyword">
                </div>
                <button class="btn btn-success"><i class="fa fa-search"></i> 搜索</button>
                <button class="btn btn-success" name="out_put" value="output"><i class="fa fa-file"></i> 导出</button>
            </form>
        </div>
    </div>
    <style>
        /*width:50px;height:50px;border-radius:50%;*/
    </style>

    <form action="" method="post" class="form-horizontal form" >
        <div class="panel panel-default">
            {if $agentid != 0}
            <div class="panel-heading">
                <div class="row-fluid">
                    <div class="span3 control-group">
                        推荐人数:<strong class="text-danger">{$page_total}</strong>
                        ,总消费:<strong class="text-danger">{$page_totalprice}</strong>
                    </div>
                </div>
            </div>
            {/if}
            <div class="table-responsive panel-body">
                <table class="table table-hover">
                    <thead class="navbar-inner">
                    <tr>
                        <th style="width:10%;">推荐人</th>
                        <th style="width:10%;">昵称</th>
                        <th style="width:10%;">名称/手机</th>
                        <th style="width:10%;">推广佣金/配送佣金</th>
                        <th style="width:10%;">下单数量</th>
                        <th style="width:10%;">消费金额</th>
                        <th style="width:12%;">余额/积分</th>

                        <th style="width:8%;">状态</th>
                        <th style="width:20%;"></th>
                    </tr>
                    </thead>
                    <tbody id="level-list">
                    {loop $list $item}
                    <tr>
                        <td>
                            {if $item['agentid']<>0}
                            <a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('allfans', array('id' => $item['agentid'], 'op' => 'post'))}">
                            <img src="{php echo tomedia($item['agentheadimgurl']);}" style="width:30px;height:30px;padding1px;border:1px solid #ccc"/>
                            </a>
                            </br>{$item['agentnickname']}

                        </td>
                            {else}
                            <span class="label label-primary">平台</span>
                            {/if}
                        </td>
                        <td style="white-space:normal;">
                            <img src="{php echo tomedia($item['headimgurl']);}" style="width:30px;height:30px;padding1px;border:1px solid #ccc"/>
                            </br>{$item['nickname']}
                            {if $item['is_commission']==2}
                            </br>
                            {if $item['agentid']>0}
                            <span class="label label-danger">代理商</span>
                            {else}
                            <span class="label label-danger">股东</span>
                            {/if}
                            {/if}
                            </br>{if $item['iscard']==0}
                            <span class="label label-primary">非会员</span>
                            {else}<span class="label label-success">会员</span>{/if}
                        </td>
                        <td>
                            {if empty($item['username'])}-------{else}{$item['username']}{/if}<br>
                            {if empty($item['mobile'])}-------{else}{$item['mobile']}{/if}
                        </td>
                        <td>
                            <span class="label label-info">推广佣金:{if empty($item['commission_price'])}0.00{else}{$item['commission_price']}{/if}</span><br>
                            <span class="label label-default">配送佣金:{if empty($item['delivery_price'])}0{else}{$item['delivery_price']}{/if}</span>
                        </td>
                        <td>
                            {if !empty($order_count[$item['from_user']]['count'])}{$order_count[$item['from_user']]['count']}{else}0{/if}
                        </td>
                        <td>
                            {if !empty($pay_price[$item['from_user']]['totalprice'])}
                            {php echo sprintf('%.2f', $pay_price[$item['from_user']]['totalprice']);}
                            {else}0{/if}
                        </td>
                        <td>
                            <span class="label label-info">余额:{if
                                empty($item['credit2'])}0.00{else}{$item['credit2']}{/if}</span><br>
                            <span class="label label-default">积分:{if empty($item['credit1'])}0{else}{$item['credit1']}{/if}</span>
                        </td>
                        <td>
                            {if $item['status'] == 0}
                            <span class="label label-danger">禁止下单</span>
                            {else}
                            <span class="label label-success">正常</span>
                            {/if}
                        </td>
                        <td>
                            <a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('allorder', array('op' => 'display', 'from_user' => $item['from_user']))}">订单</a>
                            <a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('allfans', array('id' => $item['id'], 'op' => 'display', 'agentid' => $item['id']))}">下级</a>

                            <a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('allfans', array('id' => $item['id'], 'op' => 'post'))}">详情</a>
                            {if $_W['isfounder'] || $_W['role'] == 'manager'}
                            {if $item['status'] == 1}
                            <a class="btn btn-default btn-sm" onclick="return confirm('您确定要禁止下单吗？');return false;" href="{php echo $this->createWebUrl('allfans', array('id' => $item['id'], 'status' => $item['status'], 'op' => 'setstatus'))}"
                               title="冻结"><i class="fa fa-lock"></i>禁止</a>
                            {else}
                            <a class="btn btn-default btn-sm" onclick="return confirm('您确定要解除禁止状态吗？');return false;" href="{php echo $this->createWebUrl('allfans', array('id' => $item['id'], 'status' => $item['status'], 'op' => 'setstatus'))}"
                               title="解冻"><i class="fa fa-unlock"></i>解除</a>
                            {/if}
                            {/if}
                            <!--<a href="javascript:;" class="btn btn-success btn-sm" order-id="164"-->
                               <!--onclick="$('#order-remark-container').modal();">[发送]</a>-->
                        </td>
                    </tr>
                    {/loop}
                    </tbody>
                </table>
            </div>
        </div>
    </form>
    {$pager}
</div>
<div class="modal fade" id="order-remark-container" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title">信息通知</h4></div>
            <div class="modal-body">
                <textarea name="reply" class="form-control" rows="5" oninput="$(this).parent().next().find('.js-count').text(100 - $(this).val().length);;" onpropertychange="$(this).parent().next().find('.js-count').text(100 - $(this).val().length);;" maxlength="100" placeholder="最多填写 100 字"></textarea>
            </div>
            <div class="modal-footer" style="padding: 5px 15px;">
                <span class="help-block pull-left">					您还可以输入：<storng>
                    <span style="color:red; font-size:18px;" name="count" class="js-count">100</span></storng> 个字符</span>
                <a class="btn btn-default js-cancel" data-dismiss="modal">取消</a>
                <button type="submit" class="btn btn-primary" name="confriminfo" value="正常">发送</button>
                <!--<a class="btn btn-primary js-order-remark-post">确定</a>-->
            </div>
        </div>
    </div>
</div>
{elseif $operation == 'record'}
<div class="main">
    <div class="panel panel-default" style="margin-top: 15px;">
        <div class="panel-heading">筛选</div>
        <div class="table-responsive panel-body">
            <form action="./index.php" method="get" class="form-horizontal" role="form">
                <input type="hidden" name="c" value="site" />
                <input type="hidden" name="a" value="entry" />
                <input type="hidden" name="m" value="weisrc_dish" />
                <input type="hidden" name="do" value="allfans" />
                <input type="hidden" name="op" value="record" />
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" style="width:90px;">会员等级</label>
                    <div class="col-sm-2 col-lg-9">
                        <label class="radio-inline">
                            <input type="radio" name="groupid" value="0" {if $groupid==0}checked="checked"{/if} />所有会员
                        </label>
                        {loop $groups $level}
                        <label class="radio-inline">
                            <input type="radio" name="groupid" value="{$level['groupid']}" {if $groupid==$level['groupid']}checked="checked"{/if}/>{$level['title']}
                        </label>
                        {/loop}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" style="width:90px;">关注时间</label>
                    <div class="col-sm-2 col-lg-2">
                        <select class="form-control" id="addtime" name="addtime" autocomplete="off">
                            <option value="0"{if $addtime==0} selected{/if}>不限</option>
                            <option value="1"{if $addtime==1} selected{/if}>过去7天</option>
                            <option value="2"{if $addtime==2} selected{/if}>过去30天</option>
                            <option value="3"{if $addtime==3} selected{/if}>过去3个月</option>
                            <option value="4"{if $addtime==4} selected{/if}>过去6个月</option>
                            <option value="5"{if $addtime==5} selected{/if}>过去12个月</option>
                        </select>
                    </div>
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" style="width:90px;">性别</label>
                    <div class="col-sm-2 col-lg-2">
                        <select class="form-control" id="gender" name="gender" autocomplete="off">
                            <option value="0"{if $gender==0} selected{/if}>不限</option>
                            <option value="1"{if $gender==1} selected{/if}>男</option>
                            <option value="2"{if $gender==2} selected{/if}>女</option>
                        </select>
                    </div>
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" style="width:90px;">年龄</label>
                    <div class="col-sm-2 col-lg-2">
                        <select class="form-control" id="age" name="age" autocomplete="off">
                            <option value="0"{if $age==0} selected{/if}>不限</option>
                            <option value="1"{if $age==1} selected{/if}>18岁以下</option>
                            <option value="2"{if $age==2} selected{/if}>18-24</option>
                            <option value="3"{if $age==3} selected{/if}>25-30</option>
                            <option value="4"{if $age==4} selected{/if}>31-35</option>
                            <option value="5"{if $age==5} selected{/if}>36-40</option>
                            <option value="6"{if $age==6} selected{/if}>40岁以上</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" style="width:90px;">上次交易</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="paytime" name="paytime" autocomplete="off">
                            <option value="0"{if $paytime==0} selected{/if}>不限</option>
                            <option value="1"{if $paytime==1} selected{/if}>1个月内</option>
                            <option value="2"{if $paytime==2} selected{/if}>1-3个月内</option>
                            <option value="3"{if $paytime==3} selected{/if}>3-6个月内</option>
                            <option value="4"{if $paytime==4} selected{/if}>6-12个月内</option>
                        </select>
                    </div>
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" style="width:90px;">交易笔数</label>
                    <div class="col-sm-2" style="width:250px;">
                        <div class="input-group input-medium">
                            <input type="text" class="form-control" name="count_min"
                                   value="{if $count_min!=0}{$count_min}{/if}">
                            <span class="input-group-addon" style="border-left:0px;border-right:0px;">至</span>
                            <input type="text" class="form-control" name="count_max"
                                   value="{if $count_max!=0}{$count_max}{/if}">
                        </div>
                    </div>
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" style="width:90px;">交易金额</label>
                    <div class="col-sm-2" style="width:250px;">
                        <div class="input-group input-medium">
                            <input type="text" class="form-control" name="price_min"
                                   value="{if $price_min!=0}{$price_min}{/if}">
                            <span class="input-group-addon" style="border-left:0px;border-right:0px;">至</span>
                            <input type="text" class="form-control" name="price_max"
                                   value="{if $price_max!=0}{$price_max}{/if}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" style="width:90px;">所属门店</label>
                    <div class="col-sm-2 col-lg-2">
                        <select class="form-control" id="selstoreid" name="selstoreid" autocomplete="off">
                            <option value="0"{if $selstoreid==0} selected{/if}>不限</option>
                            {loop $storelist $item}
                            <option value="{$item['id']}"{if $selstoreid==$item['id']} selected{/if}>{$item['title']}</option>
                            {/loop}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" style="width:90px;"></label>
                    <div class="col-sm-2 col-lg-9">
                        <button class="btn btn-success"><i class="fa fa-search"></i> 搜索</button>
                        <button class="btn btn-info" name="out_put" value="output"><i class="fa fa-file"></i> 导出数据
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <form action="" method="post" class="form-horizontal form" >
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row-fluid">
                    <div class="span3 control-group">
                        总共 <strong>{$total}</strong> 条
                    </div>
                </div>
            </div>
            <div class="table-responsive panel-body">
                <table class="table table-hover">
                    <thead class="navbar-inner">
                    <tr>
                        <th style="width:12%;">昵称</th>
                        <th style="width:12%;">姓名</th>
                        <th style="width:12%;">手机号码</th>
                        <th style="width:12%;">会员等级</th>
                        <th style="width:12%;">交易总额（元）</th>
                        <th style="width:12%;">交易笔数（笔）</th>
                        <th style="width:16%;">上次交易时间</th>
                        <th style="width:12%;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {loop $list $item}
                    <tr>
                        <td style="white-space:normal;">
                            <img src="{php echo tomedia($item['headimgurl']);}" style="width:30px;height:30px;padding1px;border:1px solid #ccc"/>
                            </br>{$item['nickname']}({$item['birthyear']})
                        </td>
                        <td>{if empty($item['username'])}-------{else}{$item['username']}{/if}</td>
                        <td>{if empty($item['mobile'])}-------{else}{$item['mobile']}{/if}</td>
                        <td>{$groups[$item['groupid']]['title']}</td>
                        <td>
                            {$item['totalprice']}
                        </td>
                        <td>{$item['totalcount']}</td>
                        <td>
                            {if !empty($item['paytime'])}
                            {php echo date('Y-m-d H:i:s', $item['paytime'])}
                            {/if}
                        </td>
                        <td>
                            <a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('allfans', array('id' => $item['id'], 'op' => 'post'))}"><i class="fa fa-list"></i>详情</a>
                            {if $item['status'] == 1}
                            <a class="btn btn-default btn-sm" onclick="return confirm('您确定要禁止下单吗？');return false;" href="{php echo $this->createWebUrl('allfans', array('id' => $item['id'], 'status' => $item['status'], 'op' => 'setstatus'))}"
                               title="冻结"><i class="fa fa-lock"></i>禁止</a>
                            {else}
                            <a class="btn btn-default btn-sm" onclick="return confirm('您确定要解除禁止状态吗？');return false;" href="{php echo $this->createWebUrl('allfans', array('id' => $item['id'], 'status' => $item['status'], 'op' => 'setstatus'))}"
                               title="解冻"><i class="fa fa-unlock"></i>解除</a>
                            {/if}
                        </td>
                    </tr>
                    {/loop}
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <a class="btn btn-warning" onclick="return confirm('此操作不可恢复，确认同步？');return false;" href="{php echo $this->createWebUrl('allfans', array('op' => 'synchrodata'))}"><i class="fa fa-cog" ></i> 同步数据</a>
            </div>
        </div>
    </form>
    {$pager}
</div>
<div class="modal fade" id="order-remark-container" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title">信息通知</h4></div>
            <div class="modal-body">
                <textarea name="reply" class="form-control" rows="5" oninput="$(this).parent().next().find('.js-count').text(100 - $(this).val().length);;" onpropertychange="$(this).parent().next().find('.js-count').text(100 - $(this).val().length);;" maxlength="100" placeholder="最多填写 100 字"></textarea>
            </div>
            <div class="modal-footer" style="padding: 5px 15px;">
                <span class="help-block pull-left">					您还可以输入：<storng>
                    <span style="color:red; font-size:18px;" name="count" class="js-count">100</span></storng> 个字符</span>
                <a class="btn btn-default js-cancel" data-dismiss="modal">取消</a>
                <button type="submit" class="btn btn-primary" name="confriminfo" value="正常">发送</button>
                <!--<a class="btn btn-primary js-order-remark-post">确定</a>-->
            </div>
        </div>
    </div>
</div>
{elseif $operation == 'post'}
<div class="main">
    <div class="panel panel-default">
        <div class="panel-body">
            <a class="btn btn-warning" href="{php echo $this->createWebUrl('allfans', array('op' => 'display', 'storeid' => $storeid))}">返回会员管理
            </a>
        </div>
    </div>
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="invitative">
        <div class="panel panel-default">
            <div class="panel-heading">
                用户信息
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否为代理商</label>
                    <div class="col-sm-9">
                        <label for="is_commission1" class="radio-inline"><input type="radio" name="is_commission" value="1" id="is_commission1" {if $item['is_commission'] == 1}checked="true"{/if} /> 普通用户</label>
                        &nbsp;&nbsp;&nbsp;
                        <label for="is_commission2" class="radio-inline"><input type="radio" name="is_commission" value="2" id="is_commission2"  {if empty($item) || $item['is_commission'] == 2}checked="true"{/if} /> 代理商</label>
                        <span class="help-block"></span>
                    </div>
                </div>
                {if !empty($item)}
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">推广二维码</label>
                    <div class="col-sm-9">
                        <img src="{php echo $this->createWebUrl('GetQrcode',array('url'=>$agent_url))}"/>
                    </div>
                </div>
                {/if}
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">场景值</label>
                    <div class="col-sm-9">
                        <input type="text" name="scene_str" value="{$item['scene_str']}"
                               class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="require">*</span>推荐人</label>
                    <div class="col-sm-9 col-xs-12">
                        <div class="input-group">
                            <input type="text" name="nickname" value="{$agent['nickname']}" class="form-control" id="nickname"
                                   readonly="">
                            <input type="hidden" name="agentid" value="{$agent['id']}" id="agentid">
                        <span class="input-group-btn">
				            <button class="btn btn-default" type="button" onclick="$('#modal-module-menus').modal();" data-original-title="" title="">选择粉丝</button>
                            <button class="btn btn-default" type="button" onclick="$('#agentid').val('0');$('#nickname').val('');"
                                    data-original-title="" title="">清除</button>
			            </span>
                        </div>
                        <div class="input-group cover" style="margin-top:.5em;">
                            <img src="{php echo tomedia($fans['headimgurl']);}" width="150" />
                        </div>
                        <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">微信ID</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            {$item['from_user']}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">昵称</label>
                    <div class="col-sm-9">
                        <input type="text" name="nickname2" value="{$item['nickname']}"
 class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">头像</label>
                    <div class="col-sm-9">
                        {if empty($item['headimgurl'])}
                        {php echo tpl_form_field_image('headimgurl', '../addons/weisrc_dish/template/images/default-headimg.jpg')}
                        {else}
                        {php echo tpl_form_field_image('headimgurl', $item['headimgurl'])}
                        {/if}
                        <div class="help-block">大图片建议尺寸：80像素 * 80像素</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">累计下单数量</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            {$order_count}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">取消订单数量</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            {$cancel_count}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">累计消费金额</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            {if empty($pay_price)}0{else}{$pay_price}{/if}
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">用户名</label>
                    <div class="col-sm-9">
                        <input type="text" name="username" value="{$item['username']}" id="username" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">手机</label>
                    <div class="col-sm-9">
                        <input type="text" name="mobile" value="{$item['mobile']}" id="mobile" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">地址</label>
                    <div class="col-sm-9">
                        <input type="text" name="address" value="{$item['address']}" id="address" class="form-control" />
                    </div>
                </div>
    <!--                <div class="form-group">-->
<!--                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">坐标</label>-->
<!--                    <div class="col-sm-9">-->
<!--                        {php echo tpl_form_field_coordinate('baidumap', $item)}-->
<!--                    </div>-->
<!--                </div>-->
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">坐标</label>
                    <div class="col-sm-9">
                        <div class="row row-fix">
                            <div class="col-xs-4 col-sm-4">
                                <input type="text" id="lon" name="baidumap[lng]" value="{$item['lng']}" placeholder="地理经度" class="form-control">
                            </div>
                            <div class="col-xs-4 col-sm-4">
                                <input type="text" id="lat" name="baidumap[lat]" value="{$item['lat']}" placeholder="地理纬度" class="form-control">
                            </div>
                            <a class="btn btn-info btn-sm"
                               href="javascript:void(0);"  class="btn btn-default" title="坐标选择"  id="latlngselect"  >
                                坐标选择</a>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">最后访问时间</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            {php echo date('Y-m-d H:i:s', $item['lasttime'])}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">加入时间</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            {php echo date('Y-m-d H:i:s', $item['dateline'])}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" style="color:#f00;">禁止下单</label>
                    <div class="col-sm-9">
                        <label class="radio-inline">
                            <input type="radio" name="status" value="1" {if $item['status']==1 || empty($item)}checked{/if}>正常
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="status" value="0" {if isset($item['status']) && empty($item['status'])}checked{/if}>禁止</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <input type="submit" name="submit" value="保存设置" class="btn btn-primary col-lg-3"/>
            <input type="hidden" name="token" value="{$_W['token']}" />
        </div>
    </form>
</div>
<style>
    #container{ height:100%; }
</style>
<div id="order-logistics-modal"  class="modal fade" tabindex="-1" >
    <div class="modal-dialog" style='width: 80%;'>
        <div class="modal-content" style="height: 780px; ">
            <div id="container" ></div>
            <div class="">
                   <div   class="form-group" style="position:absolute;top:20px;left:10%;">
                        <span>地址:</span>
                        <input name="resourceAddress" id="addressmap" style="width:600px;">
                        <button onclick="markLocation()" type="button">搜索</button>
                <button type="button" class="btn btn-default" style="display: inline-block" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="suremap" style="display: inline-block" data-dismiss="modal">确定</button>
                    </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function check() {
        if($.trim($('#username').val()) == '') {
            message('没有输入姓名.', '', 'error');
            return false;
        }s
        return true;
    }
    $(function () {
        $("div").delegate("#latlngselect", "click", function () {
            $('#order-logistics-modal').modal();
        });
    })
</script>
<script src="https://webapi.amap.com/maps?v=1.3&key=89b1e5f9228ee729809c2ead031ec5fb&plugin=AMap.Autocomplete,AMap.PlaceSearch,AMap.Walking,AMap.Riding,AMap.Geocoder"></script>
    <script src="https://jsd.gogcun.cn/addons/weisrc_dish/template/js/main.js"></script>
    <script type="text/javascript" src="https://jsd.gogcun.cn/addons/weisrc_dish/template/js/liteToolbar.js"></script>
    <script type="text/javascript" src="https://jsd.gogcun.cn/addons/weisrc_dish/template/js/addToolbar.js"></script>
   	<link rel="stylesheet" href="https://jsd.gogcun.cn/addons/weisrc_dish/template/css/main1119.css"/>
<script>
    var map,addMarker,auto;
    var geocoder;
    var placeSearch;
    var lnglatXY;
    $(function(){
        // 加入高的地图
        map = new AMap.Map('container', {
            resizeEnable: true,
            zoom:15
            /*center: [116.397428, 39.90923] */
        });
        //输入提示
        var auto = new AMap.Autocomplete({
            input: "addressmap"
        });

        AMap.plugin(['AMap.ToolBar','AMap.Scale'],
            function(){
                map.addControl(new AMap.ToolBar());

                map.addControl(new AMap.Scale());
            });
        AMap.service('AMap.Geocoder',function(){//回调函数
            //实例化Geocoder
            geocoder = new AMap.Geocoder({
                city: "贵阳",//城市，默认：“全国”
                adius : 1000
            });
            //TODO: 使用geocoder 对象完成相关功能
        });
        // 加载搜索列表
        myMapViewLocation();
        writeAddress([ $("#lon").val(),$("#lat").val()]);
        addMarker([ $("#lon").val(),$("#lat").val()]);
        AMap.service(["AMap.PlaceSearch"], function() {
            placeSearch = new AMap.PlaceSearch({ //构造地点查询类
                pageSize: 5,
                pageIndex: 1,
                city: "贵阳", //城市
                map: map,
                panel: "panel"
            });
        });
        //为地图注册click事件获取鼠标点击出的经纬度坐标
        var clickEventListener = map.on('click', function(e) {
            $("#lon").val(e.lnglat.lng);
            $("#lat").val(e.lnglat.lat);
            console.log(e.lnglat.lng)
            console.log(e.lnglat.lat)
            // 填写地址
            writeAddress([e.lnglat.lng,e.lnglat.lat]);
            removeMarkers()
            addMarker([e.lnglat.lng,e.lnglat.lat]);
        });
        //placeSearch.search("北京");
        $("#addressmap").on("keydown",function(event){
            if(event = event || window.event){
                if(event.keyCode==13){
                    markLocation();
                }
            }
        });
    });

    //地图搜索
    function mapsearch(){
        var mlon = $("#lon").val();
        var mlat = $("#lat").val();
        myMapViewLocation(mlon, mlat);
    }
    // 回显
    function myMapViewLocation(mlon, mlat){
        //console.log("回显坐标");
        if(mlon&&mlat){
            //removeMarkers(lnglatXY);
            lnglatXY = [mlon,mlat];
            addMarker(lnglatXY);
        }
    }
    //删除点标记
    function removeMarkers(){
        map.remove(marker);
    }
    //移除之前的标点
    // function removeMarkers(lnglatXY){
    //
    //     marker = new AMap.Marker({
    //         map: map,
    //         position: lnglatXY,
    //         icon: "https://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
    //         offset: new AMap.Pixel(-13, -30)
    //     });
    //     var markers = [];
    //     markers.push(marker);
    //     map.remove(markers);
    // }

    var t=1;
    // 实例化点标记
    function addMarker(lnglatXY) {
        if(t == 1) {
            console.log(lnglatXY);
            marker = new AMap.Marker({
                icon: "https://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
                position: lnglatXY,
                offset: new AMap.Pixel(-13, -30),
                // 设置是否可以拖拽
                draggable: true,
                cursor: 'move',
                // 设置拖拽效果
                raiseOnDrag: true

            });
            map.setZoomAndCenter(14, lnglatXY);
            marker.setMap(map);
            // map.setFitView();// 执行定位
            t++;
        }

        //修改标点位置
        if(t != 1){
            // 同时传入缩放级别和中心点经纬度
            map.setZoomAndCenter(14, lnglatXY);
            marker.setPosition(lnglatXY);
            marker.setMap(map);
        }

    }

    // 填写地址
    function writeAddress(lnglatXY){
        var geocoder = new AMap.Geocoder({
            city : "重庆", //城市，默认：“全国”
            radius : 1000 //范围，默认：500
        });
        geocoder.getAddress(lnglatXY, function(status, result) {
            if (status === 'complete' && result.info === 'OK') {
                geocoder_CallBack(result);
            }
        });
    }

    // 地址回调
    function geocoder_CallBack(data) {
        var address = data.regeocode.formattedAddress; //返回地址描述
        $("input[name=resourceAddress]").val(address);
    }

    //根据地址搜索
    function markLocation() {
        var address = $("#addressmap").val();
        AMap.plugin('AMap.Geocoder', function() {
            var geocoder = new AMap.Geocoder();
            geocoder.getLocation(address, function(status, result) {
                if (status === 'complete' && result.info === 'OK') {
                    // 经纬度                      
                    var lon = result.geocodes[0].location.lng;
                    var lat = result.geocodes[0].location.lat;

                    $("#lon").val(lon);
                    $("#lat").val(lat);

                    lnglatXY = [lon, lat];
                    addMarker(lnglatXY);
                } else {
                    console.log(status)
                    console.log(result)
                    alert('定位失败！');
                }
            });
        });
    }
</script>
{template 'web/_modal_fans'}
{/if}
{template 'public/footer'}
