{template 'public/header'}
{template 'public/comhead'}

<ul class="nav nav-tabs">
    <li><a href="{php echo $this->createWebUrl('delivery', array('op' => 'display'))}">配送员管理</a></li>
    <li><a href="{php echo $this->createWebUrl('delivery', array('op' => 'post'))}">添加配送员</a></li>
    <li><a href="{php echo $this->createWebUrl('delivery', array('op' => 'setting'))}">配送详情设置</a></li>
    <li {if $operation == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('deliveryarea', array('op' => 'display'))}">管理配送点</a></li>
    <li {if $operation == 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('deliveryarea', array('op' => 'post'))}">添加配送点</a></li>

</ul>
{if $operation == 'post'}
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <input type="hidden" name="parentid" value="{$parent['id']}" />
        <div class="panel panel-default">
            <div class="panel-heading">
                配送点编辑
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">配送点名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="title" class="form-control" value="{$area['title']}" />
                    </div>
                </div>
<!--                <div class="form-group">-->
<!--                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">坐标</label>-->
<!--                    <div class="col-sm-9">-->
<!--                        {php echo tpl_form_field_coordinate('baidumap', $area)}-->
<!--                    </div>-->
<!--                </div>-->
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">坐标</label>
                    <div class="col-sm-9">
                        <div class="row row-fix">
                            <div class="col-xs-4 col-sm-4">
                                <input type="text" id="lon" name="baidumap[lng]" value="{$reply['lng']}" placeholder="地理经度" class="form-control">
                            </div>
                            <div class="col-xs-4 col-sm-4">
                                <input type="text" id="lat" name="baidumap[lat]" value="{$reply['lat']}" placeholder="地理纬度" class="form-control">
                            </div>
                            <a class="btn btn-info btn-sm"
                               href="javascript:void(0);"  class="btn btn-default" title="坐标选择"  id="latlngselect"  >
                                坐标选择</a>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
                    <div class="col-sm-9">
                        <input type="text" name="displayorder" class="form-control" value="{$area['displayorder']}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <input type="submit" name="submit" value="保存设置" class="btn btn-primary col-lg-3" />
            <input type="hidden" name="token" value="{$_W['token']}" />
        </div>
    </form>
</div>
{elseif $operation == 'display'}
<div class="main">
    <div class="panel panel-default">
        <div class="panel-body">
            <a class="btn btn-primary" href="javascript:location.reload()"><i class="fa fa-refresh"></i>刷新</a>
        </div>
    </div>
    <div class="panel panel-default">
        <form action="" method="post" class="form-horizontal form" >
            <input type="hidden" name="storeid" value="{$storeid}" />
            <div class="table-responsive panel-body">
                <table class="table table-hover">
                    <thead class="navbar-inner">
                    <tr>
                        <th style="width:100px;">显示顺序</th>
                        <th>配送点名称</th>
                        <th style="text-align:right;">操作</th>
                    </tr>
                    </thead>
                    <tbody id="level-list">
                    {loop $list $row}
                    <tr>
                        <td><input type="text" class="form-control" name="displayorder[{$row['id']}]" value="{$row['displayorder']}"></td>
                        <td><div class="type-parent">{$row['title']}&nbsp;&nbsp;</div></td>
                        <td style="text-align:right;"><a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('deliveryarea', array('op' => 'post', 'id' => $row['id']))}" title="编辑">改</a>&nbsp;&nbsp;<a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('deliveryarea', array('op' => 'delete', 'id' => $row['id']))}" onclick="return confirm('确认删除吗？');return false;" title="删除">删</a></td>
                    </tr>
                    {/loop}
                    <tr>
                        <td colspan="3">
                            <input name="submit" type="submit" class="btn btn-primary" value="批量更新排序">
                            <input type="hidden" name="token" value="{$_W['token']}" />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    {$pager}
</div>
{/if}
<style>
    #container{ height:100%; }
</style>
<div id="order-logistics-modal"  class="modal fade" tabindex="-1" >
    <div class="modal-dialog" style='width: 80%;'>
        <div class="modal-content" style="height: 780px; ">
            <div id="container" ></div>
            <div class="">
                   <div   class="form-group" style="position:absolute;top:20px;left:10%;">
                        <span>地址:</span>
                        <input name="resourceAddress" id="addressmap" style="width:600px;">
                        <button onclick="markLocation()" type="button">搜索</button>
                <button type="button" class="btn btn-default" style="display: inline-block" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="suremap" style="display: inline-block" data-dismiss="modal">确定</button>
                    </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("div").delegate("#latlngselect", "click", function () {
            $('#order-logistics-modal').modal();
        });
    })
</script>
<script src="https://webapi.amap.com/maps?v=1.3&key=89b1e5f9228ee729809c2ead031ec5fb&plugin=AMap.Autocomplete,AMap.PlaceSearch,AMap.Walking,AMap.Riding,AMap.Geocoder"></script>
    <script src="https://jsd.gogcun.cn/addons/weisrc_dish/template/js/main.js"></script>
    <script type="text/javascript" src="https://jsd.gogcun.cn/addons/weisrc_dish/template/js/liteToolbar.js"></script>
    <script type="text/javascript" src="https://jsd.gogcun.cn/addons/weisrc_dish/template/js/addToolbar.js"></script>
   	<link rel="stylesheet" href="https://jsd.gogcun.cn/addons/weisrc_dish/template/css/main1119.css"/>
<script>
    var map,addMarker,auto;
    var geocoder;
    var placeSearch;
    var lnglatXY;
    $(function(){
        // 加入高的地图
        map = new AMap.Map('container', {
            resizeEnable: true,
            zoom:13
            /*center: [116.397428, 39.90923] */
        })
        if( $("#lon").val() && $("#lat").val() ){
            // 加载搜索列表
            console.log( $("#lon").val())
            writeAddress([ $("#lon").val(),$("#lat").val()]);
            addMarker([ $("#lon").val(),$("#lat").val()]);
        }else{
            AMap.plugin('AMap.Geolocation', function() {
                var geolocation = new AMap.Geolocation({
                    enableHighAccuracy: true,//是否使用高精度定位，默认:true
                    timeout: 10000,          //超过10秒后停止定位，默认：5s
                    buttonPosition:'RB',    //定位按钮的停靠位置
                    buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
                    zoomToAccuracy: true,   //定位成功后是否自动调整地图视野到定位点

                });
                map.addControl(geolocation);
                geolocation.getCurrentPosition(function(status,result){
                    if(status=='complete'){
                        onComplete(result)
                        console.log('定位成功')
                    }else{
                        // onError(result)
                        onComplete(result)
                        console.log('定位失败')
                    }
                });
            });
            function onComplete(data) {
                var   locLng = data.position.lng;
                var  locLat = data.position.lat;
                $("#lon").val(locLng)
                $("#lat").val(locLat)
                addMarker([locLng,locLat]);
                writeAddress([ locLng,locLat]);
            }
        }

        //输入提示
        var auto = new AMap.Autocomplete({
            input: "addressmap"
        });

        AMap.plugin(['AMap.ToolBar','AMap.Scale'],
            function(){
                map.addControl(new AMap.ToolBar());

                map.addControl(new AMap.Scale());
            });
        AMap.service('AMap.Geocoder',function(){//回调函数
            //实例化Geocoder
            geocoder = new AMap.Geocoder({
                city: "贵阳",//城市，默认：“全国”
                adius : 1000
            });
            //TODO: 使用geocoder 对象完成相关功能
        });

        AMap.service(["AMap.PlaceSearch"], function() {
            placeSearch = new AMap.PlaceSearch({ //构造地点查询类
                pageSize: 5,
                pageIndex: 1,
                city: "贵阳", //城市
                map: map,
                panel: "panel"
            });
        });
        //为地图注册click事件获取鼠标点击出的经纬度坐标
        var clickEventListener = map.on('click', function(e) {
            $("#lon").val(e.lnglat.lng);
            $("#lat").val(e.lnglat.lat);
            console.log(e.lnglat.lng)
            console.log(e.lnglat.lat)
            // 填写地址
            writeAddress([e.lnglat.lng,e.lnglat.lat]);
            removeMarkers()
            addMarker([e.lnglat.lng,e.lnglat.lat]);
        });
        //placeSearch.search("北京");
        $("#addressmap").on("keydown",function(event){
            if(event = event || window.event){
                if(event.keyCode==13){
                    markLocation();
                }
            }
        });
    });

    //地图搜索
    function mapsearch(){
        var mlon = $("#lon").val();
        var mlat = $("#lat").val();
        myMapViewLocation(mlon, mlat);
    }
    // 回显
    function myMapViewLocation(mlon, mlat){
        //console.log("回显坐标");
        if(mlon&&mlat){
            //removeMarkers(lnglatXY);
            lnglatXY = [mlon,mlat];
            addMarker(lnglatXY);
        }
    }
    //删除点标记
    function removeMarkers(){
        map.remove(marker);
    }


    var t=1;
    // 实例化点标记
    function addMarker(lnglatXY) {
        map.setZoom(15);
        console.log(lnglatXY);
        if(t == 1) {
            console.log(2)
            marker = new AMap.Marker({
                icon: "https://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
                position: lnglatXY,
                offset: new AMap.Pixel(-13, -30),
                // 设置是否可以拖拽
                draggable: true,
                cursor: 'move',
                // 设置拖拽效果
                raiseOnDrag: true

            });
            map.setZoomAndCenter(14, lnglatXY);
            marker.setMap(map);
            map.setFitView();// 执行定位
            t++;
        }

        //修改标点位置
        if(t != 1){
            console.log(1)
            // 同时传入缩放级别和中心点经纬度
            map.setZoomAndCenter(14, lnglatXY);
            marker.setPosition(lnglatXY);
            marker.setMap(map);
            map.setFitView();// 执行定位
        }

    }

    // 填写地址
    function writeAddress(lnglatXY){
        var geocoder = new AMap.Geocoder({
            city : "全国", //城市，默认：“全国”
            radius : 1000 //范围，默认：500
        });
        geocoder.getAddress(lnglatXY, function(status, result) {
            if (status === 'complete' && result.info === 'OK') {
                geocoder_CallBack(result);
            }
        });
    }

    // 地址回调
    function geocoder_CallBack(data) {
        var address = data.regeocode.formattedAddress; //返回地址描述
        $("input[name=resourceAddress]").val(address);
    }

    //根据地址搜索
    function markLocation() {
        var address = $("#addressmap").val();
        AMap.plugin('AMap.Geocoder', function() {
            var geocoder = new AMap.Geocoder();
            geocoder.getLocation(address, function(status, result) {
                if (status === 'complete' && result.info === 'OK') {
                    // 经纬度                      
                    var lon = result.geocodes[0].location.lng;
                    var lat = result.geocodes[0].location.lat;

                    $("#lon").val(lon);
                    $("#lat").val(lat);

                    lnglatXY = [lon, lat];
                    addMarker(lnglatXY);
                } else {
                    console.log(status)
                    console.log(result)
                    alert('定位失败！');
                }
            });
        });
    }
</script>
{template 'public/footer'}