{template 'public/header'}
{template 'public/comhead'}
<ul class="nav nav-tabs">
    <li {if $operation == 'display' || empty($operation)}class="active"{/if}><a href="{php echo $this->createWebUrl('delivery', array('op' => 'display'))}">配送员管理</a></li>
    <li {if $operation == 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('delivery', array('op' => 'post'))}">添加配送员</a></li>
    <li {if $operation == 'setting'}class="active"{/if}><a href="{php echo $this->createWebUrl('delivery', array('op' => 'setting'))}">配送详情设置</a></li>
    <li><a href="{php echo $this->createWebUrl('deliveryarea', array('op' => 'display'))}">管理配送点</a></li>
    <li><a href="{php echo $this->createWebUrl('deliveryarea', array('op' => 'post'))}">添加配送点</a></li>
    {if $_W['role'] == 'manager' || $_W['isfounder']}
    <li {if $operation == 'record'}class="active"{/if}><a href="{php echo $this->createWebUrl('delivery', array('op' => 'record'))}">配送佣金审核</a></li>
    <li><a href="{php echo $this->createWebUrl('cashlog', array('op' => 'display', 'logtype' => 2))}">配送提现管理</a></li>
    {/if}
</ul>
{if $operation == 'display'}
<div class="main">
    <div class="panel panel-default">
        <div class="panel-heading">筛选</div>
        <div class="table-responsive panel-body">
            <form action="./index.php" method="get" class="navbar-form navbar-left" role="form">
                <input type="hidden" name="c" value="site" />
                <input type="hidden" name="a" value="entry" />
                <input type="hidden" name="m" value="weisrc_dish" />
                <input type="hidden" name="do" value="delivery" />
                <input type="hidden" name="op" value="display" />
                <input type="hidden" name="storeid" value="{$storeid}" />
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入姓名/手机号码搜索" name="keyword" style="width: 190px;"/>
                </div>
                <button class="btn btn-success"><i class="fa fa-search"></i> 搜索</button>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="table-responsive panel-body">
        <form action="" method="post" class="form-horizontal form" >
            <input type="hidden" name="storeid" value="{$storeid}" />
            <table class="table table-hover">
                <thead class="navbar-inner">
                <tr>
                    <th style="width:8%;">顺序</th>
                    <th style="width:15%;">(ID)姓名</th>
                    <th style="width:15%;">手机号码</th>
                    <th style="width:15%;">配送点</th>
                    <th style="width:20%;">可提现金额</th>
                    <th style="width:10%;">状态</th>
                    <th style="width:10%;text-align:right;">操作</th>
                </tr>
                </thead>
                <tbody id="level-list">
                {loop $list $row}
                <tr>
                    <td><input type="text" class="form-control" name="displayorder[{$row['id']}]" value="{$row['displayorder']}"></td>
                    <td>
                        {if !empty($row['headimgurl'])}
                        <img src="{php echo tomedia($row['headimgurl']);}" style="width:30px;height:30px;padding1px;border:1px solid #ccc"/>
                        <br/>
                        {/if}
                        ({$row['id']}){if !empty($row['username'])}{$row['username']}{else}------{/if}


                    </td>
                    <td>{if !empty($row['mobile'])}{$row['mobile']}{else}------{/if}</td>
                    <td>{$row['areaname']}</td>
                    <td>
                        <span class="label label-success">{$row['delivery_price']}</span>
                    </td>
                    <td>{if $row['status']==2}<span class="label label-success">启用</span>{else}<span class="label label-danger">禁止</span>{/if}</td>
                    <td style="text-align:right;">
                        <a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('delivery', array('op' => 'post', 'id' => $row['id'], 'storeid' => $storeid))}" title="编辑">改</a>
                        <a class="btn btn-default btn-sm" onclick="return confirm('确认删除吗？');return false;"
                           href="{php echo $this->createWebUrl('delivery', array('id' => $row['id'], 'op' => 'delete', 'storeid' => $storeid))}" title="删除">删</a>
                    </td>
                </tr>
                {/loop}
                </tbody>
            </table>
        </form>
        {$pager}
        </div>
    </div>
</div>
{elseif $operation == 'post'}
<link rel="stylesheet" href="{$_W['siteroot']}addons/weisrc_dish/public/web/css/awesome-bootstrap-checkbox.css">
<div class="main">
    <script type="text/javascript">
        require(['jquery', 'util'], function($, u){
            $('#form1').submit(function(e) {
                if($.trim($(':text[name="username"]').val()) == '') {
                    u.message('没有输入用户名.', '', 'error');
                    return false;
                }
                if($('#storeid option:selected').val() == 0) {
                    u.message('请选择所属门店.', '', 'error');
                    return false;
                }
            });
        });
    </script>
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
        <div class="alert alert-info">
            <h4>说明: 可添加多个员工, 员工可在手机端管理门店</h4>
        </div>
        <input type="hidden" name="storeid" value="{$storeid}" />
        <div class="panel panel-default">
            <div class="panel-heading">
                添加配送员
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label"><span class="require">*</span>真实姓名</label>
                    <div class="col-sm-10 col-lg-9">
                        <input type="text" name="username" class="form-control" value="{$account['username']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label"><span class="require">*</span>手机号码</label>
                    <div class="col-sm-10 col-lg-9">
                        <input type="text" name="mobile" class="form-control" value="{$account['mobile']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">所属配送点</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="area" id="area">
                            <option value="0">请选择</option>
                            {loop $area $item}
                            <option value="{$item['id']}" {if $account['areaid']==$item['id']}selected{/if}>{$item['title']}</option>
                            {/loop}
                        </select>
                        <div class="help-block">
                            还没有配送点，点我 <a href="{php echo $this->createWebUrl('deliveryarea', array('op' => 'post'))}"><i class="fa fa-plus-circle"></i> 添加配送点</a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="require">*</span>微信昵称</label>
                    <div class="col-sm-9 col-xs-12">
                        <div class="input-group">
                            <input type="text" name="nickname" value="{$fans['nickname']}" class="form-control" readonly="">
                            <input type="hidden" name="from_user" value="{$account['from_user']}">
                        <span class="input-group-btn">
				            <button class="btn btn-default" type="button" onclick="$('#modal-module-menus').modal();" data-original-title="" title="">选择粉丝</button>
			            </span>
                        </div>
                        <div class="input-group cover" style="margin-top:.5em;">
                            <img src="{php echo tomedia($fans['headimgurl']);}" width="150" />
                        </div>
                        <div class="help-block">手机端管理订单，接收订单通知。</div>
                    </div>
                </div>
               <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">坐标</label>
                    <div class="col-sm-9">
                        <div class="row row-fix">
                            <div class="col-xs-4 col-sm-4">
                                <input type="text" id="lon" name="baidumap[lng]" value="{$reply['lng']}" placeholder="地理经度" class="form-control">
                            </div>
                            <div class="col-xs-4 col-sm-4">
                                <input type="text" id="lat" name="baidumap[lat]" value="{$reply['lat']}" placeholder="地理纬度" class="form-control">
                            </div>
                            <a class="btn btn-info btn-sm"
                               href="javascript:void(0);"  class="btn btn-default" title="坐标选择"  id="latlngselect"  >
                                坐标选择</a>
                        </div>

                    </div>
                </div>
<!--                <div class="form-group">-->
<!--                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">坐标</label>-->
<!--                    <div class="col-sm-9">-->
<!--                        {php echo tpl_form_field_coordinate('baidumap', $account)}-->
<!--                    </div>-->
<!--                </div>-->
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">状态</label>
                    <div class="col-sm-9">
                        <div class="radio radio-info radio-inline">
                            <input type="radio" id="status1" name="status" value="2" {if $account['status']==2||empty($account)}checked{/if}>
                            <label for="status1">启用</label>
                        </div>
                        <div class="radio radio-info radio-inline">
                            <input type="radio" id="status2" name="status" value="1" {if $account['status']==1}checked{/if}>
                            <label for="status2">关闭</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">备注</label>
                    <div class="col-sm-10 col-lg-9">
                        <textarea name="remark" style="height:80px;" class="form-control">{$account['remark']}</textarea>
                        <span class="help-block">方便注明此用户的身份</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <input type="submit" name="submit" value="保存设置" class="btn btn-primary col-lg-3" />
            <input type="hidden" name="token" value="{$_W['token']}" />
        </div>
    </form>
</div>
{template 'web/_modal_fans'}
{elseif $operation == 'setting'}
<link rel="stylesheet" href="{$_W['siteroot']}addons/weisrc_dish/public/web/css/awesome-bootstrap-checkbox.css">
<div class="main">
    <script type="text/javascript">
        require(['jquery', 'util'], function($, u){
            $('#form1').submit(function(e) {
                if($.trim($(':number[name="delivery_money"]').val()) == '') {
                    u.message('没有输入每单佣金.', '', 'error');
                    return false;
                }
            });
        });
    </script>
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
        <div class="alert alert-info">
            <h4>提示： 不设置提现费率，默认费率是零；例：费率设置10%，配送员提现10元，配送员实际收入9元，平台自己收入1元。</h4>
        </div>
        <input type="hidden" name="storeid" value="{$storeid}" />
        <div class="panel panel-default">
            <div class="panel-heading">
                配送详情设置
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">配送佣金模式</label>
                    <div class="col-sm-9">
                        <div class="radio radio-info radio-inline">
                            <input type="radio" id="delivery_commission_mode1" name="delivery_commission_mode" value="1" {if $setting['delivery_commission_mode']==1||empty($setting)}checked{/if}>
                            <label for="delivery_commission_mode1">以每单计算</label>
                        </div>
                        <div class="radio radio-info radio-inline">
                            <input type="radio" id="delivery_commission_mode2" name="delivery_commission_mode" value="2" {if $setting['delivery_commission_mode']==2}checked{/if}>
                            <label for="delivery_commission_mode2">以每件商品佣金计算</label>
                        </div>
                        <div class="radio radio-info radio-inline">
                            <input type="radio" id="delivery_commission_mode3" name="delivery_commission_mode" value="3" {if $setting['delivery_commission_mode']==3}checked{/if}>
                            <label for="delivery_commission_mode3">以订单的配送费为佣金</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" id="delivery_money" {if $setting['delivery_commission_mode']!=1}style="display:none;"{/if}>
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label"><span class="require">*</span>每单佣金
                    </label>
                    <div class="col-sm-10 col-lg-9">
                        <div class="input-group ">
                            <input type="number" step="0.01" class="form-control"
                                   value="{$setting['delivery_money']}" name="delivery_money">
                            <span class="input-group-addon">元</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">提现费率设置</label>
                    <div class="col-sm-10 col-lg-9">
                        <div class="input-group ">
                            <input type="number" step="0.01" class="form-control" value="{$setting['delivery_rate']}" name="delivery_rate">
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">最低提现费用</label>
                    <div class="col-sm-10 col-lg-9">
                        <div class="input-group">
                            <input type="text" name="delivery_cash_price" class="form-control"  value="{$setting['delivery_cash_price']}">
                            <span class="input-group-addon">元</span>
                        </div>
                        <div class="help-block">最低提现金额不能小于1元，建议填写整数，不填写为不限制</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">配送员同时接收订单量</label>
                    <div class="col-sm-10 col-lg-9">
                        <div class="input-group ">
                            <input type="number" step="1" class="form-control" value="{$setting['delivery_order_max']}" name="delivery_order_max">
                            <span class="input-group-addon">单</span>
                        </div>
                        <div class="help-block">为0表示不限制</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">定时推送下单时间大于多少秒的单子</label>
                    <div class="col-sm-10 col-lg-9">
                        <div class="input-group ">
                            <input type="number" step="1" class="form-control" value="{$setting['delivery_auto_time']}" name="delivery_auto_time">
                            <span class="input-group-addon">秒</span>
                        </div>
                        <div class="help-block">为0表示不自动推送，定时推送需要打开总订单管理页</div>
                    </div>
                </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">自动完成已配送后多少秒的订单</label>
                <div class="col-sm-10 col-lg-9">
                    <div class="input-group ">
                        <input type="number" step="1" class="form-control" value="{$setting['delivery_finish_time']}"
                               name="delivery_finish_time">
                        <span class="input-group-addon">秒</span>
                    </div>
                    <div class="help-block">为0表示不自动推送，定时完成需要打开总订单管理页</div>
                </div>
            </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">下单配送通知</label>
                    <div class="col-sm-9">
                        <div class="radio radio-info radio-inline">
                            <input type="radio" id="delivery_mode2" name="delivery_mode" value="1" {if $setting['delivery_mode']==1||empty($setting)}checked{/if}>
                            <label for="delivery_mode2">不通知</label>
                        </div>
                        <div class="radio radio-info radio-inline">
                            <input type="radio" id="delivery_mode1" name="delivery_mode" value="2" {if $setting['delivery_mode']==2}checked{/if}>
                            <label for="delivery_mode1">所有配送员</label>
                        </div>
                        <div class="radio radio-info radio-inline">
                            <input type="radio" id="delivery_mode3" name="delivery_mode" value="3" {if $setting['delivery_mode']==3}checked{/if}>
                            <label for="delivery_mode3">最近配送点</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <input type="submit" name="submit" value="保存设置" class="btn btn-primary col-lg-3" />
            <input type="hidden" name="token" value="{$_W['token']}" />
        </div>
    </form>
</div>
<script>
    $("input[name=delivery_commission_mode]").click(function () {
        var mode = $(this).val();
        if (mode == 1) {
            $('#delivery_money').show();
        } else {
            $('#delivery_money').hide();
        }
    });
</script>
{elseif $operation == 'record'}
<div class="main">
    <div class="alert alert-info">
        <h4>
            <i class="fa fa-info-circle"></i>
            说明:佣金提现申请审核后会自动打款到配送员的配送佣金里面!
        </h4>
        <p style="color: red">&nbsp;&nbsp;&nbsp;&nbsp;结算数据涉及钱款操作，请认真审核，谨慎操作！</p>
    </div>
    <form action="" method="post" class="form-horizontal form">
        <div class="panel panel-default">
            <div class="table-responsive panel-body">
                <table class="table table-hover">
                    <thead class="navbar-inner">
                    <tr>
                        <th style="width:15%;">(ID)申请时间</th>
                        <th style="width:15%;">订单编号</th>
                        <th style="width:10%;">配送佣金</th>
                        <th style="width:10%;">配送员</th>
                        <th style="width:10%;">支付方式</th>
                        <th style="width:10%;">状态</th>
                        <th style="width:10%;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {loop $list $item}
                    <tr>
                        <td>
                            ({$item['id']}){php echo date("Y-m-d H:i:s", $item['dateline'])}
                            {if $item['type']== 1 && $item['status'] == 1}
                            <br/>
                            <span class="label label-success">商户单号:{$item['trade_no']}</span>
                            <br/>
                            <span class="label label-success">微信单号:{$item['payment_no']}</span>
                            {/if}
                        </td>
                        <td>
                            <a href="{php echo $this->createWebUrl('allorder', array('op' => 'detail', 'id' => $item['orderid']))}">
                                {$item['order']['ordersn']}
                            </a>
                        </td>
                        <td>
                            {$item['price']}元
                        </td>
                        <td>
                            <img src="{php echo tomedia($item['headimgurl']);}" style="width:30px;height:30px;padding1px;border:1px solid #ccc"/>
                            </br>昵称:{$item['nickname']}
                            </br>姓名:{$item['deliveryuser']}
                        </td>
                        <td>
                            {if $item['order']['paytype']}
                            {if $item['order']['paytype'] == 1}
                            <span class="label label-success"><i class="fa fa-money">&nbsp;余额支付</i></span>
                            {/if}
                            {if $item['order']['paytype'] == 2}
                            <span class="label label-success"><i class="fa fa-check-circle">&nbsp;微信支付</i></span>
                            {/if}
                            {if $item['order']['paytype'] == 3}
                            <span class="label label-success"><i class="fa fa-money">&nbsp;现金支付</i></span>
                            {/if}
                            {if $item['order']['paytype'] == 4}
                            <span class="label label-info"><i class="fa fa-alipay">&nbsp;支付宝</i></span>
                            {/if}
                            <br/>
                            {/if}
                            {if $item['order']['ispay'] == 0}<span class="label label-warning">未支付</span>{/if}
                            {if $item['order']['ispay'] == 1}<span class="label label-success"><i class="fa fa-cloud">已支付</i></span>{/if}
                            {if $item['order']['ispay'] == 2}<span class="label label-info">待退款</span>{/if}
                            {if $item['order']['ispay'] == 3}<span class="label label-danger">已退款</span>{/if}
                            {if $item['order']['ispay'] == 4}<span class="label label-danger">退款失败</span>{/if}
                        </td>
                        <td>
                            {if $item['status'] == 1}
                            <span class="label label-success">已提现</span>
                            {else}
                            <span class="label label-danger">未审核</span>
                            {/if}
                        </td>
                        <td>
                            {if $item['status'] == 0}
                            <a class="btn btn-success btn-sm"
                               href="{php echo $this->createWebUrl('delivery', array('id' => $item['id'], 'op' => 'setstatus'))}" title="审核" onclick="return confirm('确认操作吗？');return false;"><i
                                    class="fa fa-cog"></i> 审核</a>
                            {/if}
                        </td>
                    </tr>
                    {/loop}
                    </tbody>
                </table>
                {$pager}
            </div>
        </div>
    </form>
</div>
{/if}
<style>
    #container{ height:100%; }
</style>
<div id="order-logistics-modal"  class="modal fade" tabindex="-1" >
    <div class="modal-dialog" style='width: 80%;'>
        <div class="modal-content" style="height: 780px; ">
            <div id="container" ></div>
            <div class="">
                   <div   class="form-group" style="position:absolute;top:20px;left:10%;">
                        <span>地址:</span>
                        <input name="resourceAddress" id="addressmap" style="width:600px;">
                        <button onclick="markLocation()" type="button">搜索</button>
                <button type="button" class="btn btn-default" style="display: inline-block" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="suremap" style="display: inline-block" data-dismiss="modal">确定</button>
                    </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("div").delegate("#latlngselect", "click", function () {
            $('#order-logistics-modal').modal();
        });
    })
</script>
<script src="https://webapi.amap.com/maps?v=1.3&key=89b1e5f9228ee729809c2ead031ec5fb&plugin=AMap.Autocomplete,AMap.PlaceSearch,AMap.Walking,AMap.Riding,AMap.Geocoder"></script>
    <script src="https://jsd.gogcun.cn/addons/weisrc_dish/template/js/main.js"></script>
    <script type="text/javascript" src="https://jsd.gogcun.cn/addons/weisrc_dish/template/js/liteToolbar.js"></script>
    <script type="text/javascript" src="https://jsd.gogcun.cn/addons/weisrc_dish/template/js/addToolbar.js"></script>
   	<link rel="stylesheet" href="https://jsd.gogcun.cn/addons/weisrc_dish/template/css/main1119.css"/>
<script>
    var map,addMarker,auto;
    var geocoder;
    var placeSearch;
    var lnglatXY;
    $(function(){
        // 加入高的地图
        map = new AMap.Map('container', {
            resizeEnable: true,
            zoom:13
            /*center: [116.397428, 39.90923] */
        })
        if( $("#lon").val() && $("#lat").val() ){
            // 加载搜索列表
            console.log( $("#lon").val())
            writeAddress([ $("#lon").val(),$("#lat").val()]);
            addMarker([ $("#lon").val(),$("#lat").val()]);
        }else{
            AMap.plugin('AMap.Geolocation', function() {
                var geolocation = new AMap.Geolocation({
                    enableHighAccuracy: true,//是否使用高精度定位，默认:true
                    timeout: 10000,          //超过10秒后停止定位，默认：5s
                    buttonPosition:'RB',    //定位按钮的停靠位置
                    buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
                    zoomToAccuracy: true,   //定位成功后是否自动调整地图视野到定位点

                });
                map.addControl(geolocation);
                geolocation.getCurrentPosition(function(status,result){
                    if(status=='complete'){
                        onComplete(result)
                        console.log('定位成功')
                    }else{
                        // onError(result)
                        onComplete(result)
                        console.log('定位失败')
                    }
                });
            });
            function onComplete(data) {
                var   locLng = data.position.lng;
                var  locLat = data.position.lat;
                $("#lon").val(locLng)
                $("#lat").val(locLat)
                addMarker([locLng,locLat]);
                writeAddress([ locLng,locLat]);
            }
        }

        //输入提示
        var auto = new AMap.Autocomplete({
            input: "addressmap"
        });

        AMap.plugin(['AMap.ToolBar','AMap.Scale'],
            function(){
                map.addControl(new AMap.ToolBar());

                map.addControl(new AMap.Scale());
            });
        AMap.service('AMap.Geocoder',function(){//回调函数
            //实例化Geocoder
            geocoder = new AMap.Geocoder({
                city: "贵阳",//城市，默认：“全国”
                adius : 1000
            });
            //TODO: 使用geocoder 对象完成相关功能
        });

        AMap.service(["AMap.PlaceSearch"], function() {
            placeSearch = new AMap.PlaceSearch({ //构造地点查询类
                pageSize: 5,
                pageIndex: 1,
                city: "贵阳", //城市
                map: map,
                panel: "panel"
            });
        });
        //为地图注册click事件获取鼠标点击出的经纬度坐标
        var clickEventListener = map.on('click', function(e) {
            $("#lon").val(e.lnglat.lng);
            $("#lat").val(e.lnglat.lat);
            console.log(e.lnglat.lng)
            console.log(e.lnglat.lat)
            // 填写地址
            writeAddress([e.lnglat.lng,e.lnglat.lat]);
            removeMarkers()
            addMarker([e.lnglat.lng,e.lnglat.lat]);
        });
        //placeSearch.search("北京");
        $("#addressmap").on("keydown",function(event){
            if(event = event || window.event){
                if(event.keyCode==13){
                    markLocation();
                }
            }
        });
    });

    //地图搜索
    function mapsearch(){
        var mlon = $("#lon").val();
        var mlat = $("#lat").val();
        myMapViewLocation(mlon, mlat);
    }
    // 回显
    function myMapViewLocation(mlon, mlat){
        //console.log("回显坐标");
        if(mlon&&mlat){
            //removeMarkers(lnglatXY);
            lnglatXY = [mlon,mlat];
            addMarker(lnglatXY);
        }
    }
    //删除点标记
    function removeMarkers(){
        map.remove(marker);
    }


    var t=1;
    // 实例化点标记
    function addMarker(lnglatXY) {
        map.setZoom(15);
        console.log(lnglatXY);
        if(t == 1) {
            console.log(2)
            marker = new AMap.Marker({
                icon: "https://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
                position: lnglatXY,
                offset: new AMap.Pixel(-13, -30),
                // 设置是否可以拖拽
                draggable: true,
                cursor: 'move',
                // 设置拖拽效果
                raiseOnDrag: true

            });
            map.setZoomAndCenter(14, lnglatXY);
            marker.setMap(map);
            map.setFitView();// 执行定位
            t++;
        }

        //修改标点位置
        if(t != 1){
            console.log(1)
            // 同时传入缩放级别和中心点经纬度
            map.setZoomAndCenter(14, lnglatXY);
            marker.setPosition(lnglatXY);
            marker.setMap(map);
            map.setFitView();// 执行定位
        }

    }

    // 填写地址
    function writeAddress(lnglatXY){
        var geocoder = new AMap.Geocoder({
            city : "全国", //城市，默认：“全国”
            radius : 1000 //范围，默认：500
        });
        geocoder.getAddress(lnglatXY, function(status, result) {
            if (status === 'complete' && result.info === 'OK') {
                geocoder_CallBack(result);
            }
        });
    }

    // 地址回调
    function geocoder_CallBack(data) {
        var address = data.regeocode.formattedAddress; //返回地址描述
        $("input[name=resourceAddress]").val(address);
    }

    //根据地址搜索
    function markLocation() {
        var address = $("#addressmap").val();
        AMap.plugin('AMap.Geocoder', function() {
            var geocoder = new AMap.Geocoder();
            geocoder.getLocation(address, function(status, result) {
                if (status === 'complete' && result.info === 'OK') {
                    // 经纬度                      
                    var lon = result.geocodes[0].location.lng;
                    var lat = result.geocodes[0].location.lat;

                    $("#lon").val(lon);
                    $("#lat").val(lat);

                    lnglatXY = [lon, lat];
                    addMarker(lnglatXY);
                } else {
                    console.log(status)
                    console.log(result)
                    alert('定位失败！');
                }
            });
        });
    }
</script>
{template 'public/footer'}