<div class="tab-pane  active" id="tab_basic">
    {if $reply}
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">门店编号</label>
        <div class="col-sm-9 form-control-static">
            {$reply['id']}
        </div>
    </div>
    {/if}
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">门店名称</label>
        <div class="col-sm-9">
            <input type="text" name="title" value="{$reply['title']}" id="title" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">门店类型</label>
        <div class="col-sm-9 col-xs-9 col-md-9">
            <div class="radio radio-info radio-inline">
                <input type="radio" id="store_type1" value="1" name="store_type" {if $reply['store_type']==1}checked{/if}>
                <label for="store_type1"> 外卖店 </label>
            </div>
            <div class="radio radio-info radio-inline">
                <input type="radio" id="store_type2" value="2" name="store_type" {if $reply['store_type']==2}checked{/if} {if empty($reply['store_type'])}checked {/if}  >
                <label for="store_type2"> 堂食店 </label>
            </div>
            <div class="radio radio-info radio-inline">
                <input type="radio" id="store_type3" value="3" name="store_type"  {if $reply['store_type']==3}checked{/if}>
                <label for="store_type3"> 邮寄店 </label>
            </div>
        </div>
    </div>
    <input type="hidden"  id="is_delivery_store_type" value="0" name="is_delivery">
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">门店默认跳转</label>
        <div class="col-sm-9 col-xs-9 col-md-9">
            <div class="radio radio-info radio-inline">
                <input type="radio" id="default_jump1" value="1" name="default_jump" {if $reply['default_jump']==1}checked{/if}>
                <label for="default_jump1"> 门店详情页 </label>
            </div>
            <div class="radio radio-info radio-inline">
                <input type="radio" id="default_jump2" value="2" name="default_jump" {if $reply['default_jump']==2}checked{/if}>
                <label for="default_jump2"> 外卖 </label>
            </div>
            <div class="radio radio-info radio-inline">
                <input type="radio" id="default_jump3" value="3" name="default_jump" {if $reply['default_jump']==3}checked{/if}>
                <label for="default_jump3"> 快餐 </label>
            </div>
            <div class="radio radio-info radio-inline">
                <input type="radio" id="default_jump4" value="4" name="default_jump" {if $reply['default_jump']==4}checked{/if}>
                <label for="default_jump4"> 排队 </label>
            </div>
            <div class="radio radio-info radio-inline">
                <input type="radio" id="default_jump5" value="5" name="default_jump" {if $reply['default_jump']==5}checked{/if}>
                <label for="default_jump5"> 预定 </label>
            </div>
            <div class="radio radio-info radio-inline">
                <input type="radio" id="default_jump6" value="6" name="default_jump" {if $reply['default_jump']==6}checked{/if}>
                <label for="default_jump6"> 自定义链接 </label>
            </div>
        </div>
    </div>
    <div class="form-group" id="default_jump_url" style="{if $reply['default_jump']!=6}display:none;{/if}">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">门店跳转链接</label>
        <div class="col-sm-9">
            <input type="text" name="default_jump_url" value="{$reply['default_jump_url']}" class="form-control" />
            <div class="help-block">在门店列表点击跳转</div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label" style="color:#f00;">门店状态</label>
        <div class="col-sm-9">
            <div class="radio radio-info radio-inline">
                <input type="radio" id="is_show1" value="1" name="is_show" {if
                       $reply['is_show']==1||empty($reply)}checked{/if}>
                <label for="is_show1"> 开启 </label>
            </div>
            <div class="radio radio-info radio-inline">
                <input type="radio" id="is_show2" value="0" name="is_show" {if isset($reply['is_show']) &&empty($reply['is_show'])}checked{/if}>
                <label for="is_show2"> 关闭 </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label" style="color:#f00;">在门店列表显示</label>
        <div class="col-sm-9">
            <div class="radio radio-info radio-inline">
                <input type="radio" id="is_list1" value="1" name="is_list" {if $reply['is_list']==1}checked{/if}>
                <label for="is_list1"> 显示 </label>
            </div>
            <div class="radio radio-info radio-inline">
                <input type="radio" id="is_list2" value="0" name="is_list" {if empty($reply['is_list'])}checked{/if}>
                <label for="is_list2"> 隐藏 </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">品牌店</label>
        <div class="col-sm-9">
            <div class="radio radio-info radio-inline">
                <input type="radio" name="is_brand" value="1" id="is_brand1" {if empty($reply) || $reply['is_brand'] == 1}checked="true"{/if} />
                <label for="is_brand1"> 是</label>
            </div>
            <div class="radio radio-info radio-inline">
                <input type="radio" name="is_brand" value="0" id="is_brand2" {if !empty($reply) && $reply['is_brand'] == 0}checked="true"{/if} />
                <label for="is_brand2"> 否</label>
            </div>
            <span class="help-block"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">门店Logo</label>
        <div class="col-sm-9">
            {php echo tpl_form_field_image('logo', $reply['logo'])}
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">门店公告</label>
        <div class="col-sm-9">
            <input type="text" name="announce" value="{$reply['announce']}" id="announce" class="form-control" />
            <div class="help-block">在商品列表页显示</div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">列表默认提示信息</label>
        <div class="col-sm-9">
            <input type="text" name="listinfo" value="{$reply['listinfo']}" id="listinfo" class="form-control" />
            <div class="help-block">在商品列表页显示</div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">预定公告</label>
        <div class="col-sm-9">
            <input type="text" name="reservation_announce" value="{$reply['reservation_announce']}" id="reservation_announce" class="form-control" />
            <div class="help-block">在预定页显示</div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">备注框提示信息</label>
        <div class="col-sm-9">
            <input type="text" name="remarkinfo" value="{$reply['remarkinfo']}" id="remarkinfo" class="form-control" />
            <div class="help-block"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">门店简介</label>
        <div class="col-sm-9">
            <input type="text" name="info" value="{$reply['info']}" id="info" class="form-control" />
            <div class="help-block">在门店列表显示</div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">经营范围</label>
        <div class="col-sm-9">
            <select class="form-control" name="type" id="type">
                <option value="0">请选择</option>
                {loop $shoptype $item}
                <option value="{$item['id']}" {if $reply['typeid']==$item['id']}selected{/if}>{$item['name']}</option>
                {/loop}
            </select>
            <div class="help-block">
                还没有分类，点我 <a href="{php echo $this->createWebUrl('type', array('op' => 'post'))}"><i class="fa fa-plus-circle"></i> 添加分类</a>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">所属区域</label>
        <div class="col-sm-9">
            <select class="form-control" name="area" id="area">
                <option value="0">请选择</option>
                {loop $area $item}
                <option value="{$item['id']}" {if $reply['areaid']==$item['id']}selected{/if}>{$item['name']}</option>
                {/loop}
            </select>
            <div class="help-block">
                还没有区域，点我 <a href="{php echo $this->createWebUrl('area', array('op' => 'post'))}"><i class="fa fa-plus-circle"></i> 添加区域</a>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">门店级别</label>
        <div class="col-sm-9">
            <select name="level" id="level" class="form-control">
                <option value="1"{if $reply['level']==1} selected{/if}>★</option>
                <option value="2"{if $reply['level']==2} selected{/if}>★★</option>
                <option value="3"{if empty($reply) || $reply['level']==3} selected{/if}>★★★</option>
                <option value="4"{if $reply['level']==4} selected{/if}>★★★★</option>
                <option value="5"{if $reply['level']==5} selected{/if}>★★★★★</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">人均消费</label>
        <div class="col-sm-9">
            <input type="text" name="consume" class="form-control" value="{if empty($reply)}20.0{else}{$reply['consume']}{/if}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">营业时间</label>
        <div class="col-sm-3">
            <div class="input-group clockpicker">
                <input type="text" class="form-control" value="{$reply['begintime']}" name="begintime">
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                                </span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group clockpicker">
                <input type="text" class="form-control" value="{$reply['endtime']}" name="endtime">
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
        <div class="col-sm-3">
            <div class="input-group clockpicker">
                <input type="text" class="form-control" value="{$reply['begintime1']}"
                       name="begintime1">
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                                </span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group clockpicker">
                <input type="text" class="form-control" value="{$reply['endtime1']}" name="endtime1">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
        <div class="col-sm-3">
            <div class="input-group clockpicker">
                <input type="text" class="form-control" value="{$reply['begintime2']}" name="begintime2">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group clockpicker">
                <input type="text" class="form-control" value="{$reply['endtime2']}"
                       name="endtime2">
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">门店介绍</label>
        <div class="col-sm-9">
            <textarea style="height:200px;" class="form-control richtext" name="content" cols="70" id="reply-add-text">{$reply['content']}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><!--<span class="require">* </span>-->门店实景</label>
        <div class="col-sm-9 col-xs-9 col-md-9 thumbs">
            <a href="javascript:;" class="btn btn-primary" id="selectImage">选择图片</a>
            <br>
            <br>
            {if !empty($reply['thumbs'])}
            {loop $reply['thumbs'] $slide}
            <div class="col-lg-3">
                <input type="hidden" name="thumbs[image][]" value="{$slide['image']}">
                <div class="panel panel-default panel-slide">
                    <div class="btnClose" onclick="$(this).parent().parent().remove()"><i class="fa fa-times"></i></div>
                    <div class="panel-body">
                        <img src="{php echo tomedia($slide['image']);}" alt="" width="100%" height="170">
                        <div>
                            <input class="form-control last pull-right" placeholder="跳转链接" name="thumbs[url][]" value="{$slide['url']}">
                        </div>
                    </div>
                </div>
            </div>
            {/loop}
            {/if}
            <div id="slideContainer"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label" id="label-tel">{if $reply['store_type']==1}*{/if} 电话</label>
        <div class="col-sm-9">
            <input type="text" name="tel" id="tel" value="{$reply['tel']}" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">地址</label>
        <div class="col-sm-9">
            <input type="text" name="address" id="address" value="{$reply['address']}" class="form-control" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">商家QQ</label>
        <div class="col-sm-9">
            <input type="text" name="qq" class="form-control" value="{$reply['qq']}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">商家微信</label>
        <div class="col-sm-9">
            <input type="text" name="weixin" class="form-control" value="{$reply['weixin']}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">客服二维码</label>
        <div class="col-sm-9">
            {php echo tpl_form_field_image('kefu_qrcode', $reply['kefu_qrcode'])}
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">坐标</label>
        <div class="col-sm-9">
            <div class="row row-fix">
                <div class="col-xs-4 col-sm-4">
                    <input type="text" id="lon" name="baidumap[lng]" value="{$reply['lng']}" placeholder="地理经度" class="form-control">
                </div>
                <div class="col-xs-4 col-sm-4">
                    <input type="text" id="lat" name="baidumap[lat]" value="{$reply['lat']}" placeholder="地理纬度" class="form-control">
                </div>
                <a class="btn btn-info btn-sm"
                   href="javascript:void(0);"  class="btn btn-default" title="坐标选择"  id="latlngselect"  >
                    坐标选择</a>
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
        <div class="col-sm-9">
            <input type="text" name="displayorder" value="{$reply['displayorder']}" id="displayorder" class="form-control" />
        </div>
    </div>
</div>
<style>
    #container{ height:100%; }
    </style>
<div id="order-logistics-modal"  class="modal fade" tabindex="-1" >
    <div class="modal-dialog" style='width: 80%;'>
        <div class="modal-content" style="height: 780px; ">
            <div id="container" ></div>
            <div class="">
               <div   class="form-group" style="position:absolute;top:20px;left:10%;">
                <span>地址:</span>
                <input name="resourceAddress" id="addressmap" style="width:600px;">
                <button onclick="markLocation()" type="button">搜索</button>
                    <button type="button" class="btn btn-default" style="display: inline-block" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="suremap" style="display: inline-block" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("div").delegate("#latlngselect", "click", function () {
            $('#order-logistics-modal').modal();
        });
       if($('input[name="store_type"]:checked').val()==2 || $('input[name="store_type"]:checked').val()==3 ){
           // $('#is_delivery_store_type').val(0);
           $('#store_type_dis_mon').css('display','none')
           $('#dis_desc').css('display','none')
       }else{
           // $('#is_delivery_store_type').val(1);
           $('#label-tel').html("*电话")
           $('#store_type_dis_mon').css('display','block')
       }
       //外卖
       $('#store_type1').click(function () {
           // $('#is_delivery_store_type').val(1);
           //开关
           $('#label-tel').html("*电话")
           $('#store_type_dis_mon').css('display','block')
           $('#distance-list').css('display','block');
           $('#dis_desc').css('display','block')

       })
        //堂食
        $('#store_type2').click(function () {
            // $('#is_delivery_store_type').val(0);
            //开关
            $('#label-tel').html("电话")
            $('#store_type_dis_mon').css('display','none')
            $('#distance-list').css('display','none');
            $('#dis_desc').css('display','none')
        })
        //快递
        $('#store_type3').click(function () {
            // $('#is_delivery_store_type').val(0);
            //开关
            $('#label-tel').html("电话")
            $('#store_type_dis_mon').css('display','none')
            $('#distance-list').css('display','none');
            $('#dis_desc').css('display','none')
        })

    })

</script>

<script src="https://webapi.amap.com/maps?v=1.3&key=89b1e5f9228ee729809c2ead031ec5fb&plugin=AMap.Autocomplete,AMap.PlaceSearch,AMap.Walking,AMap.Riding"></script>
    <script src="https://jsd.gogcun.cn/addons/weisrc_dish/template/js/main.js"></script>
    <script type="text/javascript" src="https://jsd.gogcun.cn/addons/weisrc_dish/template/js/liteToolbar.js"></script>
    <script type="text/javascript" src="https://jsd.gogcun.cn/addons/weisrc_dish/template/js/addToolbar.js"></script>
   	<link rel="stylesheet" href="https://jsd.gogcun.cn/addons/weisrc_dish/template/css/main1119.css"/>
<script>
    var map,addMarker,auto;
    var geocoder;
    var placeSearch;
    var lnglatXY;
    $(function(){
        // 加入高的地图
        map = new AMap.Map('container', {
            resizeEnable: true,
            zoom:13
            /*center: [116.397428, 39.90923] */
        })
        if( $("#lon").val() && $("#lat").val() ){
            // 加载搜索列表
            console.log( $("#lon").val())
            writeAddress([ $("#lon").val(),$("#lat").val()]);
            addMarker([ $("#lon").val(),$("#lat").val()]);
        }else{
            AMap.plugin('AMap.Geolocation', function() {
                var geolocation = new AMap.Geolocation({
                    enableHighAccuracy: true,//是否使用高精度定位，默认:true
                    timeout: 10000,          //超过10秒后停止定位，默认：5s
                    buttonPosition:'RB',    //定位按钮的停靠位置
                    buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
                    zoomToAccuracy: true,   //定位成功后是否自动调整地图视野到定位点

                });
                map.addControl(geolocation);
                geolocation.getCurrentPosition(function(status,result){
                    if(status=='complete'){
                        onComplete(result)
                        console.log('定位成功')
                    }else{
                        // onError(result)
                        onComplete(result)
                        console.log('定位失败')
                    }
                });
            });
            function onComplete(data) {
                var   locLng = data.position.lng;
                var  locLat = data.position.lat;
                $("#lon").val(locLng)
                $("#lat").val(locLat)
                addMarker([locLng,locLat]);
                writeAddress([ locLng,locLat]);
            }
        }

        //输入提示
        var auto = new AMap.Autocomplete({
            input: "addressmap"
        });

        AMap.plugin(['AMap.ToolBar','AMap.Scale'],
            function(){
                map.addControl(new AMap.ToolBar());

                map.addControl(new AMap.Scale());
            });
        AMap.service('AMap.Geocoder',function(){//回调函数
            //实例化Geocoder
            geocoder = new AMap.Geocoder({
                city: "贵阳",//城市，默认：“全国”
                adius : 1000
            });
            //TODO: 使用geocoder 对象完成相关功能
        });

        AMap.service(["AMap.PlaceSearch"], function() {
            placeSearch = new AMap.PlaceSearch({ //构造地点查询类
                pageSize: 5,
                pageIndex: 1,
                city: "贵阳", //城市
                map: map,
                panel: "panel"
            });
        });
        //为地图注册click事件获取鼠标点击出的经纬度坐标
        var clickEventListener = map.on('click', function(e) {
            $("#lon").val(e.lnglat.lng);
            $("#lat").val(e.lnglat.lat);
            console.log(e.lnglat.lng)
            console.log(e.lnglat.lat)
            // 填写地址
            writeAddress([e.lnglat.lng,e.lnglat.lat]);
            removeMarkers()
            addMarker([e.lnglat.lng,e.lnglat.lat]);
        });
        //placeSearch.search("北京");
        $("#addressmap").on("keydown",function(event){
            if(event = event || window.event){
                if(event.keyCode==13){
                    markLocation();
                }
            }
        });
    });

    //地图搜索
    function mapsearch(){
        var mlon = $("#lon").val();
        var mlat = $("#lat").val();
        myMapViewLocation(mlon, mlat);
    }
    // 回显
    function myMapViewLocation(mlon, mlat){
        //console.log("回显坐标");
        if(mlon&&mlat){
            //removeMarkers(lnglatXY);
            lnglatXY = [mlon,mlat];
            addMarker(lnglatXY);
        }
    }
    //删除点标记
    function removeMarkers(){
        map.remove(marker);
    }


    var t=1;
    // 实例化点标记
    function addMarker(lnglatXY) {
        map.setZoom(15);
        console.log(lnglatXY);
        if(t == 1) {
            console.log(2)
            marker = new AMap.Marker({
                icon: "https://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
                position: lnglatXY,
                offset: new AMap.Pixel(-13, -30),
                // 设置是否可以拖拽
                draggable: true,
                cursor: 'move',
                // 设置拖拽效果
                raiseOnDrag: true

            });
            map.setZoomAndCenter(14, lnglatXY);
            marker.setMap(map);
            map.setFitView();// 执行定位
            t++;
        }

        //修改标点位置
        if(t != 1){
            console.log(1)
            // 同时传入缩放级别和中心点经纬度
            map.setZoomAndCenter(14, lnglatXY);
            marker.setPosition(lnglatXY);
            marker.setMap(map);
            map.setFitView();// 执行定位
        }

    }

    // 填写地址
    function writeAddress(lnglatXY){
        var geocoder = new AMap.Geocoder({
            city : "全国", //城市，默认：“全国”
            radius : 1000 //范围，默认：500
        });
        geocoder.getAddress(lnglatXY, function(status, result) {
            if (status === 'complete' && result.info === 'OK') {
                geocoder_CallBack(result);
            }
        });
    }

    // 地址回调
    function geocoder_CallBack(data) {
        var address = data.regeocode.formattedAddress; //返回地址描述
        $("input[name=resourceAddress]").val(address);
    }

    //根据地址搜索
    function markLocation() {
        var address = $("#addressmap").val();
        AMap.plugin('AMap.Geocoder', function() {
            var geocoder = new AMap.Geocoder();
            geocoder.getLocation(address, function(status, result) {
                if (status === 'complete' && result.info === 'OK') {
                    // 经纬度                      
                    var lon = result.geocodes[0].location.lng;
                    var lat = result.geocodes[0].location.lat;

                    $("#lon").val(lon);
                    $("#lat").val(lat);

                    lnglatXY = [lon, lat];
                    addMarker(lnglatXY);
                } else {
                    console.log(status)
                    console.log(result)
                    alert('定位失败！');
                }
            });
        });
    }
</script>
